@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dongle:wght@400;700&family=Gothic+A1:wght@100&family=Hi+Melody&family=Moon+Dance&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* body background*/

body {
  width: 100%;
  height: 100%;
  background-image: url("/image/section\ 배경/라일락2.jpg");
  background-size: cover;
}

/* section 영역 */
section {
  display: inline-block;
  position: relative;
  z-index: 1;
  right: 0;
  width: 80%;
  height: 3000px;
  background-color: #fff;
}

.banner {
  position: relative;
  float: right;
  width: 80%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*PC aside navbar css*/
aside {
  position: sticky;
  float: left;
  left: 0;
  top: 0;
  width: 20%;
  height: 100vh;
  background-color: #fff;
  opacity: 0.95;
  font-family: "Moon Dance", cursive;
  font-weight: bold;
}

.aside-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  left: 0;
  top: 0;
  z-index: 10;
}

.aside-logo img {
  width: 200px;
}

aside nav {
  position: relative;
  z-index: 100;
  left: 0;
}

aside nav li {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

aside nav li a {
  width: 100%;
  padding: 20px 40px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

aside nav li a:hover {
  background-color: #000;
  color: #fff;
}

aside nav ul li.fix a {
  color: #fff;
  background-color: #000;
}

/*mobile nav button css*/
.hamburger {
  position: absolute;
  display: none;
  top: 9%;
  float: right;
  right: 5%;
  width: 50px;
  height: 50px;
  z-index: 200;
  cursor: pointer;
}

.hamburger span {
  width: 35px;
  height: 6px;
  display: block;
  background-color: #fff;
  margin-top: 5px;
}

/*Music video slider banner 영역 및 css*/

.banner .slider {
  width: 100%;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

.slider iframe {
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  z-index: 0;
}

.banner .navigator {
  position: absolute;
  z-index: 200;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .navigator li {
  list-style: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 4px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner .navigator li img {
  width: 150px;
  transition: 0.5s;
}

.banner .navigator li img:hover {
  width: 200px;
}

.overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background: rgba(0, 0, 0, 0.5);
}

.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 167px;
}

.part2 img {
  width: 500px;
}

.ELBUM {
  position: relative;
  width: 100%;
}

.ELBUM_title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: "Hi Melody", cursive;
  font-size: 50px;
}

.title_img {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title_img img {
  width: 300px;
  padding: 50px;
}

.ELBUM_SUB {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ELBUM_SUB .LEFT_SUB {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ELBUM_SUB .LEFT_SUB .LEFT_SUB_1 p {
  text-align: center;
  padding: 10px;
  font-family: "Gothic A1", sans-serif;
  font-weight: bold;
}

.ELBUM_SUB .LEFT_SUB .LEFT_SUB_2 h1 {
  font-family: "Gothic A1", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 15%;
}

.ELBUM_SUB .LEFT_SUB .LEFT_SUB_2 p {
  font-family: "Gothic A1", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}

.ELBUM_SUB .LEFT_SUB .LEFT_SUB_IMG {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.ELBUM_SUB .LEFT_SUB .LEFT_SUB_IMG img {
  width: 70px;
  padding: 10px;
  cursor: pointer;
}

.ELBUM_SUB .RIGHT_SUB {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ELBUM_SUB .RIGHT_SUB .SONG h1 {
  font-family: "Gothic A1", sans-serif;
  padding: 2rem;
  font-size: 20px;
}

.ELBUM_SUB .RIGHT_SUB .SONG_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ELBUM_SUB .RIGHT_SUB .SONG_link p {
  padding: 1.15rem;
}

.ELBUM_SUB .RIGHT_SUB .SONG_link img {
  width: 50px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .part2 {
    padding: 10% 0 10% 0;
  }

  .part2 img {
    width: 80%;
  }
  aside {
    display: none;
  }

  .banner {
    width: 100%;
  }

  section {
    width: 100%;
  }

  .banner .navigator li img {
    width: 60px;
    transition: 0.5s;
  }

  .banner .navigator li img:hover {
    width: 80px;
  }

  .ELBUM_SUB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .ELBUM_SUB .LEFT_SUB_IMG {
    margin-bottom: 5rem;
  }

  .ELBUM_SUB .LEFT_SUB p {
    font-size: 16px;
  }

  .ELBUM_SUB .LEFT_SUB h1 {
    font-size: 20px;
  }

  .ELBUM_SUB .RIGHT_SUB {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .ELBUM_SUB .RIGHT_SUB .SONG h1 {
    font-size: 20px;
    padding: 2rem;
  }

  .ELBUM_SUB .RIGHT_SUB .SONG_link p {
    padding: 1.1rem;
  }
  .ELBUM_SUB .RIGHT_SUB .SONG_link img {
    width: 50px;
  }
}
